@{
    Layout = null;
    string[] urlMapsArray = new string[3]
    { @"https://www.google.com.bo/maps/place/Univalle/@-17.3944482,-66.157903,17.96z/data=!4m5!3m4!1s0x93e373f68577d203:0x91952444175b21fa!8m2!3d-17.3942993!4d-66.1586606?hl=es",
    @"https://www.google.com.bo/maps/place/Univalle+Am%C3%A9rica/@-17.3714751,-66.1613843,17.44z/data=!4m5!3m4!1s0x0:0xd48df5bdcb4243c0!8m2!3d-17.3724332!4d-66.1611006?hl=es",
    @"https://www.google.com.bo/maps/place/Universidad+Privada+del+Valle/@-17.3343188,-66.2233518,15z/data=!4m5!3m4!1s0x93e375486cf5d4b1:0x207c3dbe2fcb8524!8m2!3d-17.3312118!4d-66.2260144?hl=es"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        html {
            box-sizing: border-box;
        }

        *, *:before, *:after {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 1.5;
        }

        nav ul {
            list-style: none;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
        }

        h1 {
            width: 500px;
            margin: 100px auto 20px;
            color: #f0f0f0;
            text-align: center;
        }

        .nav {
            width: 100%;
            margin: 0 auto;
            background: #900C3F;
            color: #f0f0f0;
            text-align: right;
        }

            .nav a {
                display: block;
                padding: 0 16px;
                line-height: inherit;
                cursor: pointer;
            }

        .nav__menu {
            line-height: 45px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .nav__menu-item {
            display: inline-block;
            position: relative;
        }

            .nav__menu-item:hover {
                background-color: #b60d50;
            }

                .nav__menu-item:hover .nav__submenu {
                    display: block;
                }

        .nav__submenu {
            font-weight: 300;
            text-transform: none;
            display: none;
            position: absolute;
            width: 220px;
            background-color: #b60d50;
        }

        .nav__submenu-item:hover {
            background: rgba(0, 0, 0, 0.1);
        }
        .footer {
            text-align: center
        }
        img {
            width: 100px;
            height: 100px;
        }
        a {
            color: white;
            text-decoration: none;
        }

        #footer {
            background-color: #900C3F;
            height: 27vh;
            margin: auto;
            display: block;
        }

        .btn2 {
            background-color: #900C3F;
            color: white;
            text-decoration: white;
            border: 0px;
            padding: 8px 15px;
        }

        #redes {
            color: white;
            text-align: center;
            position: relative;
            float: right;
            top: 4px;
        }

        #dirreccion {
            color: white;
            text-align: center;
            top: 9px;
        }

        #univalle {
            position: relative;
            float: left;
        }

        #numeros {
            color: white;
            text-align: center;
            position: relative;
            float: left;
            left: 20px;
        }

        #univalle {
            height: auto;
            width: auto;
            max-height: 140px;
            max-width: 150px;
        }

        #face {
            height: auto;
            width: auto;
            max-height: 30px;
            max-width: 30px;
        }

        #insta {
            height: auto;
            width: auto;
            max-height: 30px;
            max-width: 30px;
        }

        #youtube {
            height: auto;
            width: auto;
            max-height: 40px;
            max-width: 40px;
        }

    </style>
</head>
<body>
    <div>
        <div>
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css" />
            <img src="~/Images/LogoUnivalle.png" />
            <nav class="nav">
                <ul class="nav__menu">
                    <li class="nav__menu-item"><a href="~/index.cshtml">Inicio</a></li>
                    <li class="nav__menu-item">
                        <a>Materias</a>
                        <ul class="nav__submenu">
                            <li class="nav__submenu-item"> <a href="~/SecondSemester.cshtml">Segundo Semestre</a></li>
                            <li class="nav__submenu-item"> <a href="~/ThirdSemester.cshtml">Tercer Semestre</a></li>
                        </ul>
                    </li>
                    <li class="nav__menu-item"><a href="~/Teacher.cshtml">Docentes</a></li>
                    <li class="nav__menu-item"><a href="~/Login.cshtml">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </div>
        @RenderBody()
    </div>
    <footer>

        <img id="univalle" src="~/Images/univalle.jpg" />
        <div id="footer">
            <div id="redes">
                <u> Contactanos en nuestras redes sociales</u> <br />

                <img id="face" src="~/Images/facebook.png" /><a class="btn2" href="https://www.facebook.com/UnivalleBolivia">Facebook Univalle (Cochabamba)</a><br />
                <img id="insta" src="~/Images/insta.png" /><a class="btn2" href="https://www.instagram.com/univalle_bolivia/?hl=es">Instagram Univalle</a><br /><br />
                <img id="youtube" src="~/Images/youtube.jpg" /><a class="btn2" href="https://www.youtube.com/user/univallebolivia">Youtube Univalle</a><br />
            </div>

            <div id="numeros">
                <u>Nuestros numeros telefonicos</u><br /><br />
                Sede Tiquipaya (4-4318800)<br /><br />
                Sede America (4-4150300)<br /><br />
                Sede Ayacucho (4-4150200)<br /><br />
            </div>

            <div id="dirreccion">
                <u> ¿Donde nos encontramos?</u> <br /><br />

                <a class="btn2" href="@urlMapsArray[2]">Sede Tiquipaya</a><br /><br />
                <a class="btn2" href="@urlMapsArray[1]">Sede America</a> <br /><br />
                <a class="btn2" href="@urlMapsArray[0]">Sede Ayacucho</a> <br />
            </div>
        </div>
    </footer>
</body>

</html>
