@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form>
            <label>Agregar comentario:</label><br />
            <textarea></textarea><br />
            <button>Enviar Comentario</button>
        </form>
        <div class="CommentsRegisters">
            <div>
                <div class="Image"></div>
                <div class="User">
                    <label>Nombre Usuario</label><br />
                    <textarea></textarea>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>
