@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Pagina Principal Univalle</title>
    <link rel="icon" href="~/Images/univalle.jpg" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        body {
            background: url('Images/univalle.jpg');
            background-repeat: no-repeat;
            background-size: 50% 70%;
            background-position: center;
            background-attachment: fixed;
        }

        #titulo {
            text-align: center;
        }

        #inf1 {
            text-align: center;
            background-color: #900C3F;
            color: white;
            width: 60vw;
            height: 27vh;
            position: relative;
            margin: auto;
            display: block;
        }

        #inf2 {
            text-align: center;
            background-color: #900C3F;
            color: white;
            width: 60vw;
            height: 27vh;
            position: relative;
            margin: auto;
            display: block;
        }

        #inf3 {
            text-align: center;
            background-color: #900C3F;
            color: white;
            width: 60vw;
            height: 25vh;
            position: relative;
            margin: auto;
            display: block;
        }

        #inf4 {
            text-align: center;
            background-color: #900C3F;
            color: white;
            width: 60vw;
            height: 30vh;
            position: relative;
            margin: auto;
            display: block;
        }

        #inf5 {
            text-align: center;
            background-color: #900C3F;
            color: white;
            width: 60vw;
            height: 27vh;
            position: relative;
            margin: auto;
            display: block;
        }

        #inf6 {
            text-align: center;
            background-color: #900C3F;
            color: white;
            width: 60vw;
            height: 34vh;
            position: relative;
            margin: auto;
            display: block;
        }

        #univalle {
            height: auto;
            width: auto;
            max-height: 140px;
            max-width: 150px;
        }

        #face {
            height: auto;
            width: auto;
            max-height: 30px;
            max-width: 30px;
        }

        #insta {
            height: auto;
            width: auto;
            max-height: 30px;
            max-width: 30px;
        }

        #youtube {
            height: auto;
            width: auto;
            max-height: 40px;
            max-width: 40px;
        }

        .btn {
            background-color: white;
            color: darkred;
            text-decoration: white;
            border: 1px solid white;
            padding: 8px 15px;
        }

        #footer {
            background-color: #900C3F;
            height: 27vh;
            margin: auto;
            display: block;
        }

        .btn2 {
            background-color: #900C3F;
            color: white;
            text-decoration: white;
            border: 0px;
            padding: 8px 15px;
        }

        #redes {
            color: white;
            text-align: center;
            position: relative;
            float: right;
            top: 4px;
        }

        #dirreccion {
            color: white;
            text-align: center;
            top: 9px;
        }

        #univalle {
            position: relative;
            float: left;
        }

        #numeros {
            color: white;
            text-align: center;
            position: relative;
            float: left;
            left: 20px;
        }
    </style>
</head>
<body>
    <div>
        HOLA
    </div>
    <section>
        <div id="titulo">
            <h2><u>Noticias y Informacion de Univalle</u></h2>
        </div><br />
        <div id="inf1">
            <h1><u>CALL FOR PAPERS - Dossier tematico</u></h1>
            <p>
                Univalle a traves de la Direccion  del Departamento Academico de Ciencias Juridicas y Politicas<br />
                en colaboracion con la Facultad de Derecho De la Universidad de Uberlandia - Brasil, lanza convocatoria<br />
                para la postulacion de articulos de divulgacion cientifica
            </p>

            <a class="btn" href="informacion1.cshtml"><b>Mas informacion</b></a>
        </div><br /><br />

        <div id="inf2">
            <h1><u> CLASES ESPEJO- Ing en Comercio Internacional </u></h1>
            <p>
                Si eres parte de la carrera de Ing en Comenrcio internacional del 8° Semestre de Univalle,<br />
                te invitamos a participar de la Clase Espejo "Actores del sistema internacional" <br />
                en cooperacion con la Univesidad de Santo Tomas de Colombia
            </p>

            <a class="btn" href="~/informacion2.cshtml"><b>Mas informacion</b></a>
        </div><br /><br />

        <div id="inf3">
            <h1><u> FORO DEL TURISMO - PARA EL CRECIMIENTO INCLUSIVO </u></h1>
            <p>
                Turismo para el crecimiento Inclusivo, tiene como objetivo "Reiniciar del Turismo",<br />
                es decir abrir el camino para que el turismo se recupere, generando crecimineto y oportunidades
            </p>

            <a class="btn" href="~/informacion3.cshtml"><b>Mas informacion</b></a>
        </div><br /><br />

        <div id="inf4">
            <h1><u> UNIVALLE TELEVISION ARRIBO A SU 21° ANIVERSARIO </u></h1>
            <p>
                Hoy UNIVALLE TELEVISIÓN está de aniversario, es un canal regional con 21 años de trayectoria en el medio comunicacional,<br />
                fundado el 1998. Su Misión, la divulgación y propagación del conocimiento. Es un canal que promueve valores y <br />
                responde a los requerimientos del desarrollo regional y nacional,
            </p>

            <a class="btn" href="~/informacion4.cshtml"><b>Mas informacion</b></a>
        </div><br /><br />

        <div id="inf5">
            <h1><u> UNIVALLE Y LA INTELIGENCIA ARTIFICIAL </u></h1>
            <p>
                En las aulas de Univalle, en la Facultad de Informática y Electrónica del Campus de Tiquipaya,<br />
                el Departamento Académico de Electrónica y Telecomunicaciones, y el Departamento Académico de Biomédica <br />
                junto a sus estudiantes desarrollan varios proyectos innovadores.
            </p>

            <a class="btn" href="~/informacion5.cshtml"><b>Mas informacion</b></a>
        </div><br /><br />

        <div id="inf6">
            <h1><u> UNIVALLE Y LA ICAM FIRMAN CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL </u></h1>
            <p>
                UNIVALLE Y LA ICAM construyendo el camino para la formación de profesionales exitosos<br />
                Autoridades de la Universidad del Valle y la Cámara de Industria, Comercio y Servicios de Cochabamba (ICAM), <br />
                este 25 de febrero de 2021 firmaron un convenio de cooperación interinstitucional, en el marco de la consolidación<br />
                de alianzas estratégicas en beneficio de nuestros estudiantes y el desarrollo de las empresas.
            </p>

            <a class="btn" href="~/informacion6.cshtml"><b>Mas informacion</b></a>
        </div><br /><br />

    </section>
    <footer>

        <img id="univalle" src="~/Images/univalle.jpg" />
        <div id="footer">
            <div id="redes">
                <u> Contactanos en nuestras redes sociales</u> <br />

                <img id="face" src="~/Images/facebook.png" /><a class="btn2" href="https://www.facebook.com/UnivalleBolivia">Facebook Univalle (Cochabamba)</a><br />
                <img id="insta" src="~/Images/insta.png" /><a class="btn2" href="https://www.instagram.com/univalle_bolivia/?hl=es">Instagram Univalle</a><br /><br />
                <img id="youtube" src="~/Images/youtube.jpg" /><a class="btn2" href="https://www.youtube.com/user/univallebolivia">Youtube Univalle</a><br />
            </div>

            <div id="numeros">
                <u>Nuestros numeros telefonicos</u><br /><br />
                Sede Tiquipaya (4-4318800)<br /><br />
                Sede America (4-4150300)<br /><br />
                Sede Ayacucho (4-4150200)<br /><br />
            </div>

            <div id="dirreccion">
                <u> ¿Donde nos encontramos?</u> <br /><br />

                <a class="btn2" href="">Sede Tiquipaya</a><br /><br />
                <a class="btn2" href="">Sede America</a> <br /><br />
                <a class="btn2" href="">Sede Ayacucho</a> <br />
            </div>
        </div>
    </footer>
</body>
</html>
