@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>CLASES ESPEJO- Ing en Comercio Internacional</title>
    <link rel="icon" href="~/Images/univalle.jpg" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">

        body {
            background: url('Images/univalle.jpg');
            background-repeat: no-repeat;
            background-size: 50% 70%;
            background-position: center;
            background-attachment: fixed;
        }

        #titulo {
            text-align: center;
        }

        .btn2 {
            background-color: #900C3F;
            color: white;
            text-decoration: white;
            border: 1px;
            padding: 8px 15px;
        }

        #redes {
            color: white;
            text-align: center;
            position: relative;
            float: right;
            top: 4px;
        }

        #dirreccion {
            color: white;
            text-align: center;
            top: 9px;
        }

        #univalle {
            position: relative;
            float: left;
        }

        #numeros {
            color: white;
            text-align: center;
            position: relative;
            float: left;
            left: 20px;
        }

        #footer {
            background-color: #900C3F;
            height: 27vh;
            margin: auto;
            display: block;
        }

        #univalle {
            height: auto;
            width: auto;
            max-height: 140px;
            max-width: 150px;
        }

        #face {
            height: auto;
            width: auto;
            max-height: 30px;
            max-width: 30px;
        }

        #insta {
            height: auto;
            width: auto;
            max-height: 30px;
            max-width: 30px;
        }

        #youtube {
            height: auto;
            width: auto;
            max-height: 40px;
            max-width: 40px;
        }
        #inf2 {
            height: auto;
            width: auto;
            max-height: 600px;
            max-width: 600px;
            margin: auto;
            display: block;
        }

        section {
            background-color: #900C3F;
            color: white;
            width: 90vw;
            height: 140vh;
            position: relative;
            left: 50px;
        }

        #letra {
            position: relative;
            top: 20px;
            left: 20px;
        }
    </style>
</head>
<body>
    <header>
        <div id="titulo">
            <h1><u>CLASES ESPEJO- Ing en Comercio Internacional</u></h1>
        </div>
    </header>
    <section>
        <p id="letra">
            Si eres parte de la carrera de Ingeniería Biomédica del 2º semestre de Univalle , te invitamos a participar de la Clase Espejo<br />
            “Ingeniería Biomédica: Perspectiva Tecnológica del Futuro” en cooperación con la Universidad Autonoma De Guadalajara Para mayor información, comunícate con tu director de carrera a través de nuestra Plataforma Digital Teams.<br /><br />
            ¡Inscríbete y Participa!<br /><br />
            #UnivalleHacerEsAprender #ClasesEspejo<br /><br />
            #UnivalleBolivia #UnivalleInternacional #UnivalleSantaCruz<br /><br />

            <img id="inf2" src="~/Images/inf2.jpg" /><br /><br />
        </p>
    </section><br />

    <footer>
        <img id="univalle" src="~/Images/univalle.jpg" />
        <div id="footer">
            <div id="redes">
                <u> Contactanos en nuestras redes sociales</u> <br />

                <img id="face" src="~/Images/facebook.png" /><a class="btn2" href="https://www.facebook.com/UnivalleBolivia">Facebook Univalle (Cochabamba)</a><br />
                <img id="insta" src="~/Images/insta.png" /><a class="btn2" href="https://www.instagram.com/univalle_bolivia/?hl=es">Instagram Univalle</a><br /><br />
                <img id="youtube" src="~/Images/youtube.jpg" /><a class="btn2" href="https://www.youtube.com/user/univallebolivia">Youtube Univalle</a><br />
            </div>

            <div id="numeros">
                <u>Nuestros numeros telefonicos</u><br /><br />
                Sede Tiquipaya (4-4318800)<br /><br />
                Sede America (4-4150300)<br /><br />
                Sede Ayacucho (4-4150200)<br /><br />
            </div>

            <div id="dirreccion">
                <u> ¿Donde nos encontramos?</u> <br /><br />

                <a class="btn2" href="">Sede Tiquipaya</a><br /><br />
                <a class="btn2" href="">Sede America</a><br /><br />
                <a class="btn2" href="">Sede Ayacucho</a><br />
            </div>
        </div>
    </footer>
</body>
</html>

