@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>UNIVALLE Y LA ICAM FIRMAN CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL</title>
    <link rel="icon" href="~/Images/univalle.jpg" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        body {
            background: url('Images/univalle.jpg');
            background-repeat: no-repeat;
            background-size: 50% 70%;
            background-position: center;
            background-attachment: fixed;
        }

        #titulo {
            text-align: center;
        }

        .btn2 {
            background-color: #900C3F;
            color: white;
            text-decoration: white;
            border: 1px;
            padding: 8px 15px;
        }

        #redes {
            color: white;
            text-align: center;
            position: relative;
            float: right;
            top: 4px;
        }

        #dirreccion {
            color: white;
            text-align: center;
            top: 9px;
        }

        #univalle {
            position: relative;
            float: left;
        }

        #numeros {
            color: white;
            text-align: center;
            position: relative;
            float: left;
            left: 20px;
        }

        #footer {
            background-color: #900C3F;
            height: 27vh;
            margin: auto;
            display: block;
        }

        #univalle {
            height: auto;
            width: auto;
            max-height: 140px;
            max-width: 150px;
        }

        #face {
            height: auto;
            width: auto;
            max-height: 30px;
            max-width: 30px;
        }

        #insta {
            height: auto;
            width: auto;
            max-height: 30px;
            max-width: 30px;
        }

        #youtube {
            height: auto;
            width: auto;
            max-height: 40px;
            max-width: 40px;
        }

        #inf6 {
            height: auto;
            width: auto;
            max-height: 600px;
            max-width: 600px;
            margin: auto;
            display: block;
        }

        section {
            background-color: #900C3F;
            color: white;
            width: 90vw;
            height: 170vh;
            position: relative;
            left: 50px;
        }

        #letra {
            position: relative;
            top: 20px;
            left: 20px;
        }
    </style>
</head>
<body>
    <header>
        <div id="titulo">
            <h1><u>UNIVALLE Y LA ICAM FIRMAN CONVENIO DE COOPERACIÓN INTERINSTITUCIONAL</u></h1>
        </div>
    </header>
    <section>
        <p id="letra">
            UNIVALLE Y LA ICAM construyendo el camino para la formación de profesionales exitosos <br /><br />
            Autoridades de la Universidad del Valle y la Cámara de Industria, Comercio y Servicios de Cochabamba (ICAM), este 25 de febrero de 2021 firmaron un convenio de cooperación interinstitucional, en el marco de la consolidación de alianzas estratégicas en beneficio de nuestros estudiantes y el desarrollo de las empresas.<br /><br />
            El acto contó con la presencia del Ph.D. Sandro Guerrero Morales, Director Nacional de Postgrado en representación de la Universidad del Valle (UNIVALLE);<br />
            junto a él, por parte de la ICAM, su presidente, Lic. Ramón Daza Salamanca; y el gerente general, Dr. Alberto Arze. Asimismo, y en acompañamiento a esta firma,<br />
            la Lic. Daniela Zambrana Grandy, Secretaria General y el Lic. M.Sc. Marco Velez Ocampo Villarroel, Director de Educación Internacional y Relaciones, ambos de UNIVALLE.<br /><br />
            El Dr. Guerrero resaltó esta unión estratégica afirmando que: “Es un hito histórico, es la primera vez en Cochabamba que se da este tipo de convenios”, celebrando esta acción.<br /><br />
            Con el objetivo de incentivar la integración de los estudiantes en el sector empresarial, UNIVALLE, a través de la consolidación y fortalecimiento de convenios interinstitucionales, prepara, a partir de las prácticas profesionales, a nuestros estudiantes para incursionar en instituciones y centros de producción por medio de la modalidad de “Pasantías” (Proyectos de Grado, Trabajos Dirigidos, Prácticas Pre-Profesionales) en la ICAM. Lo que permitirá al estudiante validar y ampliar sus conocimientos dentro del ámbito profesional específico, dando cumplimiento al Reglamento de Graduación de UNIVALLE.<br /><br />
            La alianza beneficia también a los trabajadores de las 900 empresas asociadas a la ICAM, ya que UNIVALLE ofrecerá opciones para que puedan continuar<br />
            su formación académica, contribuyendo así al desarrollo y avance profesional, mejorando la competitividad interna de la empresa.<br /> <br /><br />


            <img id="inf6" src="~/Images/inf6.jpeg" /><br /><br />
        </p>
    </section><br />
    <footer>
        <img id="univalle" src="~/Images/univalle.jpg" />
        <div id="footer">
            <div id="redes">
                <u> Contactanos en nuestras redes sociales</u> <br />

                <img id="face" src="~/Images/facebook.png" /><a class="btn2" href="https://www.facebook.com/UnivalleBolivia">Facebook Univalle (Cochabamba)</a><br />
                <img id="insta" src="~/Images/insta.png" /><a class="btn2" href="https://www.instagram.com/univalle_bolivia/?hl=es">Instagram Univalle</a><br /><br />
                <img id="youtube" src="~/Images/youtube.jpg" /><a class="btn2" href="https://www.youtube.com/user/univallebolivia">Youtube Univalle</a><br />
            </div>

            <div id="numeros">
                <u>Nuestros numeros telefonicos</u><br /><br />
                Sede Tiquipaya (4-4318800)<br /><br />
                Sede America (4-4150300)<br /><br />
                Sede Ayacucho (4-4150200)<br /><br />
            </div>

            <div id="dirreccion">
                <u> ¿Donde nos encontramos?</u> <br /><br />

                <a class="btn2" href="">Sede Tiquipaya</a><br /><br />
                <a class="btn2" href="">Sede America</a><br /><br />
                <a class="btn2" href="">Sede Ayacucho</a><br />
            </div>
        </div>
    </footer>

</body>
</html>