@{
    Layout =null;
}

<!DOCTYPE html>
<html>
<head>
    <title>FORO DEL TURISMO - PARA EL CRECIMIENTO INCLUSIVO</title>
    <link rel="icon" href="~/Images/univalle.jpg" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        body {
            background: url('Images/univalle.jpg');
            background-repeat: no-repeat;
            background-size: 50% 70%;
            background-position: center;
            background-attachment: fixed;
        }

        #titulo {
            text-align: center;
        }

        .btn2 {
            background-color: #900C3F;
            color: white;
            text-decoration: white;
            border: 1px;
            padding: 8px 15px;
        }

        #redes {
            color: white;
            text-align: center;
            position: relative;
            float: right;
            top: 4px;
        }

        #dirreccion {
            color: white;
            text-align: center;
            top: 9px;
        }

        #univalle {
            position: relative;
            float: left;
        }

        #numeros {
            color: white;
            text-align: center;
            position: relative;
            float: left;
            left: 20px;
        }

        #footer {
            background-color: #900C3F;
            height: 27vh;
            margin: auto;
            display: block;
        }

        #univalle {
            height: auto;
            width: auto;
            max-height: 140px;
            max-width: 150px;
        }

        #face {
            height: auto;
            width: auto;
            max-height: 30px;
            max-width: 30px;
        }

        #insta {
            height: auto;
            width: auto;
            max-height: 30px;
            max-width: 30px;
        }

        #youtube {
            height: auto;
            width: auto;
            max-height: 40px;
            max-width: 40px;
        }

        #inf3 {
            height: auto;
            width: auto;
            max-height: 600px;
            max-width: 600px;
            margin: auto;
            display: block;
        }

        section {
            background-color: #900C3F;
            color: white;
            width: 90vw;
            height: 150vh;
            position: relative;
            left: 50px;
        }

        #letra {
            position: relative;
            top: 20px;
            left: 20px;
        }
    </style>
</head>
<body>
    <header>
        <div id="titulo">
            <h1><u>FORO DEL TURISMO - PARA EL CRECIMIENTO INCLUSIVO</u></h1>
        </div>
    </header>
    <section>
        <p id="letra">
            Turismo para el Crecimiento Inclusivo, tiene como objetivo “reiniciar el turismo”, es decir, abrir el camino para que el turismo se recupere, generando crecimiento y oportunidades.<br />
            📆29 de septiembre<br /><br />
            ⏰10:00 a 12:00<br /><br />
            Ingresa al link e inscríbete 👇<br /><br />
            <a class="btn2" href="https://cutt.ly/3EdCEcv">https://cutt.ly/3EdCEcv</a><br /><br />
            INSCRIPCIONES ABIERTAS HASTA EL 29 DE SEPTIEMBRE A LAS 08:30<br /><br />
            #UnivalleParaTodaLaVida<br />

            <img id="inf3" src="~/Images/inf 3.jpg" /><br /><br />
        </p>
    </section><br />
    <footer>
         <img id="univalle" src="~/Images/univalle.jpg" />
        <div id="footer">
            <div id="redes">
                <u> Contactanos en nuestras redes sociales</u> <br />

                <img id="face" src="~/Images/facebook.png" /><a class="btn2" href="https://www.facebook.com/UnivalleBolivia">Facebook Univalle (Cochabamba)</a><br />
                <img id="insta" src="~/Images/insta.png" /><a class="btn2" href="https://www.instagram.com/univalle_bolivia/?hl=es">Instagram Univalle</a><br /><br />
                <img id="youtube" src="~/Images/youtube.jpg" /><a class="btn2" href="https://www.youtube.com/user/univallebolivia">Youtube Univalle</a><br />
            </div>

            <div id="numeros">
                <u>Nuestros numeros telefonicos</u><br /><br />
                Sede Tiquipaya (4-4318800)<br /><br />
                Sede America (4-4150300)<br /><br />
                Sede Ayacucho (4-4150200)<br /><br />
            </div>

            <div id="dirreccion">
                <u> ¿Donde nos encontramos?</u> <br /><br />

                <a class="btn2" href="">Sede Tiquipaya</a><br /><br />
                <a class="btn2" href="">Sede America</a><br /><br />
                <a class="btn2" href="">Sede Ayacucho</a><br />
            </div>
        </div>
    </footer>

</body>
</html>

