@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>UNIVALLE Y LA INTELIGENCIA ARTIFICIAL</title>
    <link rel="icon" href="~/Images/univalle.jpg" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        body {
            background: url('Images/univalle.jpg');
            background-repeat: no-repeat;
            background-size: 50% 70%;
            background-position: center;
            background-attachment: fixed;
        }

        #titulo {
            text-align: center;
        }

        .btn2 {
            background-color: #900C3F;
            color: white;
            text-decoration: white;
            border: 1px;
            padding: 8px 15px;
        }

        #redes {
            color: white;
            text-align: center;
            position: relative;
            float: right;
            top: 4px;
        }

        #dirreccion {
            color: white;
            text-align: center;
            top: 9px;
        }

        #univalle {
            position: relative;
            float: left;
        }

        #numeros {
            color: white;
            text-align: center;
            position: relative;
            float: left;
            left: 20px;
        }

        #footer {
            background-color: #900C3F;
            height: 27vh;
            margin: auto;
            display: block;
        }

        #univalle {
            height: auto;
            width: auto;
            max-height: 140px;
            max-width: 150px;
        }

        #face {
            height: auto;
            width: auto;
            max-height: 30px;
            max-width: 30px;
        }

        #insta {
            height: auto;
            width: auto;
            max-height: 30px;
            max-width: 30px;
        }

        #youtube {
            height: auto;
            width: auto;
            max-height: 40px;
            max-width: 40px;
        }

        #inf5 {
            height: auto;
            width: auto;
            max-height: 600px;
            max-width: 600px;
            margin: auto;
            display: block;
            position:relative;
            top: 30px;
        }

        section {
            background-color: #900C3F;
            color: white;
            width: 90vw;
            height: 160vh;
            position: relative;
            left: 50px;
        }

        #letra {
            position: relative;
            top: 20px;
            left: 20px;
        }
    </style>
</head>
<body>
    <header>
        <div id="titulo">
            <h1><u>UNIVALLE Y LA INTELIGENCIA ARTIFICIAL</u></h1>
        </div>
    </header>
    <section>
        <p id="letra">
            En las aulas de Univalle, en la Facultad de Informática y Electrónica del Campus de Tiquipaya, el Departamento Académico de Electrónica y Telecomunicaciones,<br />
            y el Departamento Académico de Biomédica junto a sus estudiantes desarrollan varios proyectos innovadores.<br /><br />

            Desde el pasado 2020 estas carreras vienen trabajando en tareas que involucran la IoT (Internet of Things), un concepto que se refiere a la interconexión digital de los objetos cotidianos con Internet, y el uso de la IA (Inteligencia Artificial) para desarrollar a través de la tecnología actividades de detección y selección de objetos.<br /><br />

            Es así, como se ponen en práctica diferentes proyectos tales como, las “Lámparas germicidas UVC”, para desinfectar ambientes a través<br />
            de la tecnología, permitiendo ejecutar esta acción a control remoto, programando la desinfección en espacios de tiempo en los que no exista circulación de personas.<br /><br />

            Asimismo, se ejecuta a través del uso de la IA, la “Detección de uso del barbijo”, un sistema que surge ante la necesidad de controlar el cumplimiento de las medidas<br />
            de bioseguridad, como lo es el uso obligatorio del barbijo. Empleando las redes neuronales siendo esta una rama de la inteligencia artificial, se puede modificar<br />
            algoritmos que sirvan para la detección y clasificación de objetos en tiempo real.<br /><br />

            Es así que la Universidad del valle de la mano de sus estudiantes, trabajan para<br />
            desarrollar tecnología innovadora, velando por la salud y el bienestar de la población.

            ¡Univalle vanguardia en tecnología e innovación educativa!

            <img id="inf5" src="~/Images/inf5.jpeg" /><br /><br />
        </p>
    </section><br />
    <footer>
        <img id="univalle" src="~/Images/univalle.jpg" />
        <div id="footer">
            <div id="redes">
                <u> Contactanos en nuestras redes sociales</u> <br />

                <img id="face" src="~/Images/facebook.png" /><a class="btn2" href="https://www.facebook.com/UnivalleBolivia">Facebook Univalle (Cochabamba)</a><br />
                <img id="insta" src="~/Images/insta.png" /><a class="btn2" href="https://www.instagram.com/univalle_bolivia/?hl=es">Instagram Univalle</a><br /><br />
                <img id="youtube" src="~/Images/youtube.jpg" /><a class="btn2" href="https://www.youtube.com/user/univallebolivia">Youtube Univalle</a><br />
            </div>

            <div id="numeros">
                <u>Nuestros numeros telefonicos</u><br /><br />
                Sede Tiquipaya (4-4318800)<br /><br />
                Sede America (4-4150300)<br /><br />
                Sede Ayacucho (4-4150200)<br /><br />
            </div>

            <div id="dirreccion">
                <u> ¿Donde nos encontramos?</u> <br /><br />

                <a class="btn2" href="">Sede Tiquipaya</a><br /><br />
                <a class="btn2" href="">Sede America</a><br /><br />
                <a class="btn2" href="">Sede Ayacucho</a><br />
            </div>
        </div>
    </footer>

</body>
</html>
