@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>UNIVALLE TELEVISION ARRIBO A SU 21° ANIVERSARIO</title>
    <link rel="icon" href="~/Images/univalle.jpg" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        body {
            background: url('Images/univalle.jpg');
            background-repeat: no-repeat;
            background-size: 50% 70%;
            background-position: center;
            background-attachment: fixed;
        }

        #titulo {
            text-align: center;
        }

        .btn2 {
            background-color: #900C3F;
            color: white;
            text-decoration: white;
            border: 1px;
            padding: 8px 15px;
        }

        #redes {
            color: white;
            text-align: center;
            position: relative;
            float: right;
            top: 4px;
        }

        #dirreccion {
            color: white;
            text-align: center;
            top: 9px;
        }

        #univalle {
            position: relative;
            float: left;
        }

        #numeros {
            color: white;
            text-align: center;
            position: relative;
            float: left;
            left: 20px;
        }

        #footer {
            background-color: #900C3F;
            height: 27vh;
            margin: auto;
            display: block;
        }

        #univalle {
            height: auto;
            width: auto;
            max-height: 140px;
            max-width: 150px;
        }

        #face {
            height: auto;
            width: auto;
            max-height: 30px;
            max-width: 30px;
        }

        #insta {
            height: auto;
            width: auto;
            max-height: 30px;
            max-width: 30px;
        }

        #youtube {
            height: auto;
            width: auto;
            max-height: 40px;
            max-width: 40px;
        }

        #inf4 {
            height: auto;
            width: auto;
            max-height: 600px;
            max-width: 600px;
            margin: auto;
            display: block;
        }

        section {
            background-color: #900C3F;
            color: white;
            width: 90vw;
            height: 120vh;
            position: relative;
            left: 50px;
        }

        #letra {
            position: relative;
            top: 20px;
            left: 20px;
        }
    </style>
</head>
<body>
    <header>
        <div id="titulo">
            <h1><u>UNIVALLE TELEVISION ARRIBO A SU 21° ANIVERSARIO</u></h1>
        </div>
    </header>
    <section>
        <p id="letra">
            Hoy UNIVALLE TELEVISIÓN está de aniversario, es un canal regional con 21 años de trayectoria en el medio comunicacional, fundado el 1998. Su Misión, la divulgación y propagación del conocimiento. Es un canal que promueve valores y responde a los requerimientos del desarrollo regional y nacional, a la necesidad de expansión de las empresas y de coadyuvar a una sociedad bien informada.<br /><br />
            UNIVALLE TELEVISIÓN cuenta con dos segmentos informativos, uno de ellos es la revista Matinata, un espacio de variedad, brindando información veraz,<br />
            fidedigna y sobre todo actual, generando la imparcialidad en todo su contenido. Está conformado por equipo de profesionales que trabajan de manera responsable<br />
            todos los días para ti, manteniéndote informado de lunes a viernes desde las 6:00 a 8:30. El Noticiero Univalle con su edición meridiana y central con la mejor<br />
            información regional, nacional e internacional todos los días. Existe un gran equipo que trabaja para traer la información de sucesos relevantes de nuestra ciudad <br />
            y brindar la información de manera responsable a la población.<br /><br />
            Adicionalmente , UNIVALLE TV, sin lugar a dudas, ha sido por mucho tiempo la cuna de profesionales exitosos, mismos que se han formado desde la Carrera de Comunicación y Medios Digitales de esta casa de estudios superiores hasta llegar a UNIVALLE TELEVISIÓN, convirtiendo a este espacio televisivo en la vitrina del talento boliviano formado desde las aulas de UNIVALLE, allí los estudiantes encuentran un espacio donde fortalecen sus conocimientos, exploran y explotan sus habilidades en el área de producción de la revista, del noticiero o cualquier otro tipo de programa televisivo. En el área de prensa hacen sus prácticas en campo al<br />
            realizar coberturas, realizan la redacción para las notas de prensa, edición de videos y cobertura de móviles en vivo. A través de su ejercicio, este medio de<br />
            comunicación les brinda la oportunidad de formarse como profesionales de alto nivel, lo que los prepara para el mundo de la comunicación como unos profesionales de excelencia, haciendo del canal una vitrina y centro de práctica para la formación complementaria de la carrera.<br /><br />
            Grandes profesionales del medio han pertenecido a esta gran familia y hoy seguimos formando un equipo talentoso de estudiantes, periodistas, técnicos y creadores.<br /><br />
            Son 21 años de trabajo, de esfuerzo y compromiso con la población cochabambina, con el desarrollo y crecimiento de nuestra amada Bolivia, dándonos a conocer<br />
            a nivel regional nacional y hasta internacionalmente.<br />

            <img id="inf4" src="~/Images/inf 4.jpeg" /><br /><br />
        </p>
    </section><br />
    <footer>
        <img id="univalle" src="~/Images/univalle.jpg" />
        <div id="footer">
            <div id="redes">
                <u> Contactanos en nuestras redes sociales</u> <br />

                <img id="face" src="~/Images/facebook.png" /><a class="btn2" href="https://www.facebook.com/UnivalleBolivia">Facebook Univalle (Cochabamba)</a><br />
                <img id="insta" src="~/Images/insta.png" /><a class="btn2" href="https://www.instagram.com/univalle_bolivia/?hl=es">Instagram Univalle</a><br /><br />
                <img id="youtube" src="~/Images/youtube.jpg" /><a class="btn2" href="https://www.youtube.com/user/univallebolivia">Youtube Univalle</a><br />
            </div>

            <div id="numeros">
                <u>Nuestros numeros telefonicos</u><br /><br />
                Sede Tiquipaya (4-4318800)<br /><br />
                Sede America (4-4150300)<br /><br />
                Sede Ayacucho (4-4150200)<br /><br />
            </div>

            <div id="dirreccion">
                <u> ¿Donde nos encontramos?</u> <br /><br />

                <a class="btn2" href="">Sede Tiquipaya</a><br /><br />
                <a class="btn2" href="">Sede America</a><br /><br />
                <a class="btn2" href="">Sede Ayacucho</a><br />
            </div>
        </div>
    </footer>

</body>
</html>
