@{
    Layout = "_layout.cshtml";
    var db = Database.Open("connectionstring");
    var query = db.Query("SELECT * FROM subject WHERE semester = 2");

    var grid = new WebGrid(source: query);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/css/styleSubjectCard.css" media="screen" />
</head>
<body>
    <div>
        <div class="listCards">
            @foreach (var row in query)
            {
                <div class="blog-card spring-fever">
                    <div class="title-content">
                        <h3>@row.name</h3>
                        <div class="intro">ISI</div>
                    </div>
                    <div class="card-info">
                        @row.description
                        <a href="~/ComentPage.cshtml?id=@row.subjectID=subjectID">Comentarios<span class="licon icon-arr icon-black"></span></a>
                    </div>
                    <div class="utility-info">
                        <ul class="utility-list">
                            <li><span class="licon icon-like"></span>2</li><!--Mayor numero de likes en un comentario-->
                            <li><span class="licon icon-com"></span>10</li><!--numeros de comentarios-->
                            <li><span class="licon icon-dat"></span>03 jun 2017</li><!--fecha del ultimo comentario-->
                            <!--<li><span class="licon icon-tag"></span><a href="#">Photos</a>, <a href="#">Nice</a></li>-->
                        </ul>
                    </div>
                    <div class="gradient-overlay"></div>
                    <div class="color-overlay"></div>
                </div><!-- /.blog-card -->
            }
        </div>
    </div>
</body>
</html>
