@{
    Layout = "_layout.cshtml";
    var db = Database.Open("connectionstring");
    var query = db.Query("SELECT * FROM subject WHERE semester = 3");

    var grid = new WebGrid(source: query);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/css/styleSubjectCard.css" media="screen" />
</head>
<body>
    <div>
        <div class="listCards">
            @foreach (var row in query)
            {
                <div class="blog-card spring-fever">
                    <div class="title-content">
                        <h3>@row.name</h3>
                        <div class="intro">ISI</div>
                    </div>
                    <div class="card-info">
                        @row.description
                        <a href="~/ComentPage.cshtml?=@row.subjectID=subjectID">Comentarios<span class="licon icon-arr icon-black"></span></a>
                    </div>
                    <div class="gradient-overlay"></div>
                    <div class="color-overlay"></div>
                </div><!-- /.blog-card -->
            }
        </div>
    </div>
</body>
</html>
